**/.idea/
.gradle/
.kotlin/
build/
out/
**/*/.claude/settings.local.json
.DS_Store
*.iml
.gradle
local.properties
classes/
.DS_Store
/captures
yarn.lock
.kotlin/
.claude/settings.local.json
.obsidian
